
body {
    background: #f0f070;
    background: #2f2f2f;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    color:white;
}
body, input {
    font-family: "Open Sans", "DejaVu Sans", "Bitstream Vera Sans", "Arial", sans-serif;
}
a:link, a:visited {
    color: #c00;
    letter-spacing: 1px;
}

h1 {
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}
h1.tst {
    font-size: 500%;
    font-family: 'Faster One';
    font-weight: normal;
    color: #888;
    text-shadow: -5px 0 5px rgba(255,0,0,.3);
}
h2 {
    margin-top: 1em;
    font-size: 140%;
}

dt {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-weight: 600;
    color: #666;
    background: rgba(255,255,255,.8);
    margin-bottom: 0.5ex;
    padding-left: 1ex;
    padding-right: 1ex;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(255,0,0,.3);
    letter-spacing: 1px;
}
dd {
    text-indent: 0;
    margin: 1ex;
    margin-bottom: 1.5em;
}
#all-outer {
    padding-left: 3em;
    padding-right: 3em;
}
#all-inner {
    max-width: 65em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px rgba(0,0,0,.65);
    background: #3f3f3f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 1em;
}
#words, #input {
    font-size: 160%;
    color:white;
    text-align: center;
    border: 0;
    background: transparent
}
#testui, .testui {
    margin: auto;
    max-width: 80ex;
}
#wordsbox {
    clear: both;
    background: #444;
    text-align: center;
    font-size: 120%
}
#result {
    font-size: 120%;
}
#result big {
    color: #444;
    font-size: 120%;2    text-shadow: 5px 0 5px rgba(255,0,0,.2);
    font-family: 'Faster One';
    font-weight: normal;
}
#result big:first-child {
    font-size: 200%;
}
#result big.fire {
    color: white;
    text-shadow: 0 0 17px rgba(0,0,0,.2), 4px 0px 8px white, -1px -9px 15px yellow, -2px 0px 13px #ff8000, -1px -11px 20px red
}
#result big.fire:first-child {
    color: white;
    text-shadow: 0 0 17px rgba(0,0,0,.2), 4px 0px 8px white, -1px -10px 18px yellow, -2px -1px 19px #ff8000, -1px -17px 25px red
}
#words-outer {
    padding: 1ex;
    background: white;
    background: #444;
    border-bottom: 1px solid black;
}
#words {
    box-sizing: border-box;
    background: white;
    background: #444;
    color:white;
    height: 9ex;
    overflow: hidden;
    line-height: 3ex;
    font-family: "Droid Sans Mono", "DejaVu Sans Mono", "Bitstream Vera Mono", "Consolas", "Lucida Console", monospace;
}
#input {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    letter-spacing: 2px;
}
#input:focus {
    -webkit-box-shadow:0 0 10px #b8e069 inset; 
    -moz-box-shadow:0 0 10px #b8e069 inset; 
    box-shadow:0 0 10px #b8e069 inset;
    outline: none;
}
#words > span {
    display: inline-block;
    padding: 0 0.2em;
    position: relative;
    margin-right: 0.1em;
}
#currentword {
    background: #b8e069;
    background: gray;
    border-radius: 5px;
}
.incorrect {
    color: #c00;
    color: salmon;
}
.correct {
    color: lightgreen;
}
#currentword .correct {
    color: white;
}
#score {
    background: transparent;
    margin: auto;
    padding: 1ex;
    line-height: 2ex;

}
#border {
    border: 1px solid black;
    border-radius: 1ex;
    background: #eee;
}
#score {
    text-align: center;
    border-bottom: 1px solid black;
    background: #444;
}

#score span {
    display: inline-block;
    min-width: 4ex;
    font-size: 80%;
    padding: 2px;
}
#progress, #rawcpm, #cpm, #wpm, #timer {
    text-align: right;
    background: white;
}
#score span#progress {
    min-width: 9ex;
}
#score select, #score input {
    font-size: 80%;
}
#words small {
    font-size: 50%;
    line-height: normal;
}
option {
    background: no-repeat;
    text-indent: 16px;
}
a img {
    border: 0;
}
pre {
    text-align: center;
    font-size: 80%
}
.special, .shift, .key {
    font-weight: bold;
}
.key {
    color: silver;
}
.special {
    color: navy;
}
.shift {
    color: maroon;
}
.hitme {
    color: black;
}
#footer {
    text-align: center;
    margin: 2em;
    font-size: xx-small;
}
#dummyinput {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 1;
    height: 1;
    font-size: 1%;
}
#adsense {
    margin: 1ex;
}
